version: '3.8'
services:
  database:
    image: postgres:15-alpine
    container_name: aluguel_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=aluguel_estudantes
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
